{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{%static 'img/fav.png'%}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Order Details</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{%static 'css/linearicons.css'%}">
	<link rel="stylesheet" href="{%static 'css/owl.carousel.css'%}">
	<link rel="stylesheet" href="{%static 'css/themify-icons.css'%}">
	<link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/nice-select.css'%}">
	<link rel="stylesheet" href="{%static 'css/nouislider.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
	<link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'D:\WebProject\Fitness\static\img\Fire Fitness.png' %}" alt="" height=70 width=95 ></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'store' %}">Product Store</a></li>
									<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
									<!-- <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li> -->
								</ul>
							</li>
							
							
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
    <!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Your Order Details</h1>
                <nav class="d-flex align-items-center">
                    {% comment %} <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Your Orders Details</a> {% endcomment %}
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <a href="#" target="_blank"><button style="border:none;" class="primary-btn">Download pdf</button></a>
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        {% comment %} <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><h1 class=" text-info">BLAZE STORE</h1></div>
                        </div> {% endcomment %}
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong>Invoiced To:</strong></li>
                                    <li>{{address.first_name}}{{address.last_name}}</li>
                                    <li>{{address.address_1}}{{address.address_2}}</li>
                                    <li>{{address.country}}{{address.state}}{{address.dist}}</li>
                                    <li>{{address.pincode}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Order:</strong> #{{order.order_number}}</li>
                                        <li><strong>Transaction ID:</strong> {{order.payment_id}}</li>
                                        <li><strong>Order Date:</strong> {{order.created_at}}</li>
                                        <li><strong>Status:</strong> {{order.payment_mode}}</li>
                                    </ul>
                                </div>
                            </div>
  
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>image</th>
                                                <th class="per70 text-center">Products</th>
                                                <th class="per5 text-center">Quantity</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <td>{{order_detail.product}}</td> -->
                                          {% for i in order_details %}
                                            <tr>
                                                <td scope="row"><div style="width: 5rem;"><img class="img-fluid" src="{{ i.product.img1.url }}" alt=""></div></td>
                                                <td>{{i.product.prdct_name}}
                                                  <p class="text-muted small">
                                                    {% if i.variation.all %}
                                                      {% for i in variation %}
                                                        {{ i.variation_category | capfirst }} : {{ i.variation_value | capfirst }} <br>
                                                      {% endfor %}
                                                    {% endif %}
                                                  </p>
                                                </td>
                                                <td class="text-center">{{i.quantity}}</td>
                                                <td class="text-center">Rs:{{i.product_price}}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">Rs:{{subtotal}}</th>
                                            </tr>
                                            <tr>
                                                <th></th>
  
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">Rs:{{tax}}</th>
                                            </tr>
  
                                            <tr>
                                                <th></th>
  
                                                <th colspan="2" class="text-right">Grand Total:</th>
                                                <th class="text-center">Rs:{{order_total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Thank you for shopping with us!</p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>
  
<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                         method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                 required="" type="email">


                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                                <div class="col-lg-4 col-md-4">
                                                <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                            </div> 
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="{%static 'img/i1.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i2.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i3.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i4.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i5.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i6.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i7.jpg'%}" alt=""></li>
                        <li><img src="{%static 'img/i8.jpg'%}" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            
        </div>
    </div>
</footer>
<!-- End footer Area -->


<script src="{% static 'js/vendor/jquery-2.2.4.min.js'%}"></script>
<script src=" 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
 crossorigin="anonymous"></script>
<script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>
<script src="{% static 'js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'js/jquery.sticky.js'%}"></script>
<script src="{% static 'js/nouislider.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'js/gmaps.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>